# Linear Model

## Loading the data

In [355]:
import pandas as pd
import numpy as np

In [356]:
data = pd.read_csv('../data/clean/Global_YouTube_Statistics1.csv')
data.head()

,Youtuber,category,Country,subscribers,video views,uploads,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,subscribers_for_last_30_days
0,T-Series,Music,India,245000000,2.280000e+11,20082,2.258000e+09,564600.0,9000000.00,6800000.00,1.084000e+08,2000000.0
1,YouTube Movies,Film & Animation,United States,170000000,0.000000e+00,1,1.200000e+01,0.0,0.05,0.04,5.800000e-01,100000.0
2,MrBeast,Entertainment,United States,166000000,2.836884e+10,741,1.348000e+09,337000.0,5400000.00,4000000.00,6.470000e+07,8000000.0
3,Cocomelon - Nursery Rhymes,Education,United States,162000000,1.640000e+11,966,1.975000e+09,493800.0,7900000.00,5900000.00,9.480000e+07,1000000.0
4,SET India,Shows,India,159000000,1.480000e+11,116536,1.824000e+09,455900.0,7300000.00,5500000.00,8.750000e+07,1000000.0

In [357]:
nulls_percent_df = pd.DataFrame(data.isna().sum()/len(data)*100).reset_index()
nulls_percent_df.columns = ['column_name', 'nulls_percentage']
nulls_percent_df

                         column_name  nulls_percentage
0                           Youtuber               0.0
1                           category               0.0
2                            Country               0.0
3                        subscribers               0.0
4                        video views               0.0
5                            uploads               0.0
6   video_views_for_the_last_30_days               0.0
7            lowest_monthly_earnings               0.0
8           highest_monthly_earnings               0.0
9             lowest_yearly_earnings               0.0
10           highest_yearly_earnings               0.0
11      subscribers_for_last_30_days               0.0

## Selecting y

In [358]:
y = data['subscribers']
X = data[['video views']] # I use only this column in order to predict subscribers because its value is 0.75 in the correlation matrix. The rest of the columns values is too low to be taken into account.

In [359]:
X.columns

Index(['video views'], dtype='object')

In [360]:
type(y)

pandas.core.series.Series

In [361]:
type(X)

pandas.core.frame.DataFrame

In [362]:
import sklearn

## X/y Split

Import sklearn train_test_split and separate the data. Set test_size=0.30 and random_state=31

In [363]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=158)

Separate X_train and X_test

In [364]:
X_train_df = pd.DataFrame(X_train, columns=X.columns, index=X_train.index)
X_test_df   = pd.DataFrame(X_test,  columns=X.columns, index=X_test.index)

X_train_num = X_train_df.select_dtypes(np.number)
X_test_num  = X_test_df.select_dtypes(np.number)

## Transformer

In [365]:
import pickle
from sklearn.preprocessing import PowerTransformer

pt = PowerTransformer()

pt.fit(X_train_num) # fit() Determine the min and the max of each column in the TRAIN set

path = "../transformers/"
scaler_file_name = "power_transformer_scaler.pkl"

with open(path + scaler_file_name, "wb") as file:
    pickle.dump(pt, file)

X_train_scaled_num = pt.transform(X_train_num) # .transform() applies the transformation x_normalized will be np.array
X_test_scaled_num  = pt.transform(X_test_num ) # .transform() applies the transformation x_normalized will be np.array

# We create new Pandas DataFrames out of the Numpy arrays.

X_train_scaled_df_num = pd.DataFrame(X_train_scaled_num, columns=X_train_num.columns, index=X_train_num.index)
X_test_scaled_df_num  = pd.DataFrame(X_test_scaled_num,  columns=X_test_num.columns, index=X_test_num.index)

X_train_scaled_df_num.head()

     video views
463     0.361400
900    -0.925151
722     0.461590
869    -0.021488
211     1.425427

In [366]:
X_train_new = X_train_scaled_df_num 
X_test_new = X_test_scaled_df_num 
X_train_new.head()

     video views
463     0.361400
900    -0.925151
722     0.461590
869    -0.021488
211     1.425427

Fit a MinMax scaler using X_train_new and transform X_train_new and X_test_new.

In [367]:
import pickle
from sklearn.preprocessing import MinMaxScaler # Sets for each colum the minimum = 0 and the maximum = 1

scaler = MinMaxScaler()

scaler.fit(X_train_new) # fit() Determine the min and the max of each column in the TRAIN set

path = "../scalers/"
scaler_file_name = "min_max_scaler.pkl"

with open(path + scaler_file_name, "wb") as file:
    pickle.dump(scaler, file)

X_train_scaled2 = scaler.transform(X_train_new) # .transform() applies the transformation x_normalized will be np.array
X_test_scaled2  = scaler.transform(X_test_new) # .transform() applies the transformation x_normalized will be np.array

# I create new Pandas DataFrames out of the Numpy arrays.

X_train_new_scaled_df2 = pd.DataFrame(X_train_scaled2, columns=X_train_new.columns, index=X_train_new.index)
X_test_new_scaled2_df2  = pd.DataFrame(X_test_scaled2,  columns=X_train_new.columns, index=X_test_new.index)

X_train_new_scaled_df2.head()

     video views
463     0.443567
900     0.300705
722     0.454692
869     0.401050
211     0.561719

## Creation of the Linear Model

In [387]:
from sklearn.linear_model import LinearRegression

linear_model = LinearRegression()
linear_model.fit(X_train_new_scaled_df2, y_train)

path = "../models/"
model_file_name = "linear_model.pkl"

with open(path + model_file_name, "wb") as file:
    pickle.dump(linear_model, file)

In [369]:
y_train_pred = linear_model.predict(X_train_new_scaled_df2)
y_test_pred  = linear_model.predict(X_test_new_scaled2_df2)

In [370]:
y_train_pred

array([26224924.48547941, 14658040.75701566, 27125696.8493628 ,
       22782526.79339844, 35791176.28732453, 25653651.30226452,
       37053995.71899047, 38829002.64474487, 24320728.64101694,
       20028971.38678957, 31064412.8466837 , 25525052.0920921 ,
       18297482.72098206, 24173305.10747578, 22204241.74595594,
       32018132.02195555, 26945564.1796641 ,  9657283.78532613,
       15922316.41535954, 26656291.10381547, 39751850.95141445,
       19703435.1363415 , 19748419.87810752, 18245420.76944606,
       13704361.24228175, 26450047.85597122, 29477095.84132856,
       22393793.3858984 , 17402686.60910669, 29455763.11583106,
       19213189.70352963, 53378076.46736997, 19521720.93261228,
       25015066.21854652, 29191139.01597787, 27640609.22657278,
       17733713.36761415, 16865186.60921418, 14822657.3439323 ,
       19401207.75301745, 13333704.15929329, 22132054.08301052,
       22598951.78923497, 17290722.67063352, 17929861.66839594,
       19156648.49351322, 26139866.02622816, 33585100.52218517,
       16011957.0906116 , 22954652.16797246, 21338620.9510214 ,
       29402941.52648333, 21112912.25439644, 24596522.96780103,
       28686128.43218289, 31021854.31033386, 18668781.84385237,
       41273878.70821061, 23917825.19823699, 27941755.56986468,
       26231492.70326981, 31932622.6773874 , 30258111.62316508,
       22876919.03191026, 24687426.14410681,  6232512.26733576,
       39516075.92682499, 16074087.62255817, 27539895.18587819,
       45734230.55230652, 17984817.95060585, 34364707.94588144,
       34617960.83308277, 16761032.30172795, 28048200.90205231,
       18776577.88571161, 12310181.21699137, 19635021.08865156,
       22208208.64877341, -9688694.54783654, 64378149.56496726,
       13716091.25200969, 19946581.52839928, 34240615.96359188,
       21134091.07762679, 23670742.3411785 , 19615531.3253513 ,
       24797963.43437115, 22650250.33693939, 23997433.2253429 ,
       21271307.22259431, 30872612.10829988, 14781009.85713526,
       35134387.33432021, 13210299.58144537, 24872851.26239353,
       18229158.53812778, 36516920.42796393, 11803176.60620368,
       31885887.98078581, 23399421.80845872,  1668185.35184564,
       20433607.31707042, 12485725.31741131, 22680498.55793915,
       25941878.73744587, 15127258.49934801, 28310554.36779032,
       31914966.26669938, 14042702.61363521, 18330350.36548883,
       24207942.09709316, 20206665.8800312 , 14422035.02918126,
       13917694.44513481, 22743468.17603976, 29112350.50291032,
        8403459.06691928, 16444792.95336135, 34999009.42330644,
       23686250.61546703, 17904430.27650762, 25032017.10457663,
       25355132.12552932, 14848307.76769565, 37721994.279989  ,
       13424736.89937329, 27747528.8558943 , 37917520.15278064,
       26936867.17301504, -4270725.48514985, 32068256.69202252,
       11085907.19156985, 27247227.85216092, 26510514.09629923,
       19471875.49974104, 30252723.34456017, 23326713.90498371,
       27663867.60947477, -9688694.54783654, 16869812.49239775,
       21303225.49395707, 26470208.35451664, 26687643.19570989,
       23467449.85526288, 24367334.86685479, 24693062.78253828,
       18323106.83739255, 26297236.77133704, 35907344.7212715 ,
       18043802.27043397, 17453795.82197092, 26015349.32527069,
       23498004.93541339, 19215644.38313498, 15727998.77359916,
       25637507.77634253, 23678156.5443015 , 26418167.06173918,
       15382589.95509083, 12905251.73951657, 23804843.39354375,
       26332232.12317619, 25069111.47793931, 14822876.0240132 ,
       29601147.08358008, 27764862.77810361, 46043207.9534833 ,
       25627177.75701718, 28834497.16581972, 28700064.34580428,
       33648436.9137315 , 20718511.11014944, 43144325.28826356,
       24966130.31717004, 22746548.89365802, 17660334.35425008,
       39208186.46797122, 27321807.96929938, 23676770.23345489,
       14668222.27948391, 22705351.72709984, 15832595.48359609,
       16940926.69076312, 18715607.46070401, 22123650.67090324,
       10732198.0389919 , 11175304.24428142, 15061109.77238256,
       33010984.19130575, 24778284.37983804, 17511364.70131691,
       36850412.34252914, 18258743.79068853, 32817032.68936846,
       33588427.74475884, 31983966.40974157, 21630681.20693293,
       20650661.04534646, 23117775.11137239,  9494021.09683741,
       29462872.74260557, 18119574.71865288, 25452166.03186121,
       21102988.3962594 , 27564806.02080175, 22067711.28238437,
       28334271.0745086 , 31642013.21125721, 22994513.19576743,
       21896329.11863921, 19622132.18188573, 27536864.3831872 ,
       12271951.96218696, 20528455.87558711, 34039313.58694175,
        8956291.03207358, 18545646.40627981, 13285668.75785293,
       31857538.9040186 , 31011205.15354142, 35597563.13030645,
       29795792.67919874, 31376958.8250897 , 16578904.74322945,
       18623659.04521291, 26424139.61869615, -9688694.54783654,
       15295286.27462303, 22769557.4817571 , 29619724.81898154,
       27996738.70333823, 26786230.86807208, 23850792.36520476,
       17791361.13740808, 25295242.45817209, 28860140.83133698,
       12150041.6023753 , 29720749.20150648, 25429763.94083361,
       17976757.95751718, 21435363.29689967,  9610750.09183091,
       16255244.73553193, 36522792.44679952, 18064908.7982075 ,
       10330045.62366578, 30649446.07016848, 13508100.78533614,
       26261814.32714642, 24125733.91847137, 40488617.1559445 ,
       28973931.97008634, 34391734.89022457, 24185332.142186  ,
       18450111.26432727, 28946343.8613878 , 19026196.11936605,
       30190247.29070809, 14723306.16909772, 19917379.15131728,
       12173136.55739323, 11618542.27828299, 21409494.02631494,
       13198335.60498472, 14592020.08596164, 21705390.01680203,
       21454780.80940792, 22573898.05882156, 33086076.08487668,
       21462647.18931595, 23991348.49544982, 16664722.59422657,
       29553499.36458928, 32755499.12359773, 12638104.07882116,
       20472482.0207357 , 23783665.94746347, 26052278.57327969,
       20581317.01615588, 32658711.94073669, 21225282.39785389,
       22281334.93562644, 11500654.97058129, 22084406.42148575,
       32176209.50188671, 18844151.7865492 , 19531049.13759997,
       21124379.53730153, 25249335.27167924, 21838799.31409847,
       12090840.28049915, 17823423.20013894, 28343874.26580857,
       21793128.44678618, 23325858.87439933, 22082869.12381708,
       15194366.22900991, 19064222.79887451, 32923382.16604199,
       22087886.18162752, 19013724.89065074, 30571401.54623535,
       10406938.49954306, 35918015.05771349, 18479103.88822595,
       33372334.776815  , 24731662.47089611, 19386872.20756778,
       20948624.75182545, 28071238.65653776, 24891519.08877865,
       39636290.10248797, 13539465.93288784, 34925527.21282356,
       31486688.60079066, 23585431.32623061, 14854514.23472666,
       20466628.72060334, 20285033.03951219, 27167158.59339715,
       20792291.18398808, 27726546.96167987, 22191739.63107759,
       44118966.10305472, 20261286.28410583, 32308007.21282493,
       12707022.47709974, 29388821.15502256, 18481024.89615982,
       16841515.648884  , 22624229.2112413 , 50724925.49518073,
       19344884.57424305, 14936253.80513528, 12641990.3468589 ,
       33496929.37743881, 25180762.85701342, 15088481.50891908,
       28889617.68579964, 22768134.41976012, 71276798.57696667,
       31041882.6467538 , 23958843.02686818, 23975578.55072004,
       28108200.24129451, 29002998.0481982 , 16936654.81179192,
       13130222.85881793, 16059251.58766866, 33825639.77520583,
       18521071.72380166, 36700742.32072099, 32820370.24496982,
       29007932.08585449, 18498199.69257995, 18703337.85188612,
       20609059.05902107, 25988899.18805904, 27508721.01665824,
       28794983.23354264, 35912812.00229692, 19741640.85626932,
       21807014.2764901 , 16995848.41154185, 23744347.63380708,
       21999348.37526149, 38051872.08023673, 24749813.78079809,
       29902448.1353915 , 27431803.02203157, 23000773.47957284,
       18072258.73827634, 22947671.62534134, 28678017.64815988,
       27120588.47012597, 25373407.04895118, 55281726.58530997,
       13306389.28723852, 30573662.56846984, 25345331.70213545,
       16364102.8130261 ,  4103425.94935785, 25038953.1690597 ,
       21866316.15945531, 14308578.60277465, 27216745.93904369,
       28555486.71203207, 17275386.36270334, 26573799.85679439,
       34285141.81558239, 12229792.70156074, 22278834.80976184,
       29324588.33056992, 33816729.66389489, 26415949.41537727,
       13220067.5264672 , 11582287.76916885, 35937975.37720105,
       14015980.83700741, 24534745.06248373, 28972601.95979902,
       24014308.36998442, 24685252.99253043, 36400559.71856974,
       18499857.52498817,  4347167.02594494, 28521763.66636888,
       31908928.80522253, 19834883.69695787, 18772332.71513031,
       12086703.66760259, 17498786.29102732, 16611892.81843318,
       26031617.65487903, 35826811.22583695, 18759199.90274936,
       22998949.02319378, 17043955.60202251, 13875679.59614583,
       23698999.07687423, 11877814.90730429, 18240337.1813271 ,
       21291738.68715113, 33719989.87043227, 20629975.12777216,
       16634144.3986    , 29730840.7688015 , 32444396.86288074,
       32966420.91936272, 25413284.59724842, 22038950.49142132,
       18404782.90338291, 37319097.90971257, 17916293.19986829,
       21406451.15696025, 14474496.20421667, 10521075.30235488,
       18059963.07055318, 20100272.63647555, 25979997.78846857,
       20634328.66586877, 27144693.02740983, 27904241.58488099,
       26595715.78726073, 16972289.46791426, 17672207.93408625,
       15354293.13953659, -9688694.54783654, 36605100.53417028,
       23749454.46093797, 15035481.39745623, 27548618.6286522 ,
       25501230.36324161,  3298254.707937  , 53893949.73773473,
       19352224.33904232, 21921652.15238907, 29412380.05809214,
       20183076.44737139, 19817481.05403501, 28904017.78368131,
       12100479.88825102,  6536207.10656432, 19091339.07202751,
       14575998.07629088, 33671554.32813281, 35027340.66720805,
        3772485.11323637, 30823003.63166528, 16194421.65294062,
       29226330.2204918 , 13451373.75928571, 18729220.37515083,
       19164350.05550093, 26456730.84225293, 19829664.2302141 ,
       25928096.93837357, 17530985.07363419, 19265226.55558291,
       20045481.84985337, 33628049.57355243, 15472266.91996101,
       30641126.56900809, 25456849.10754789, 29637281.16954085,
       20587555.25290246, 24560232.57629659, 25052731.0124023 ,
       31897426.75281665, 25284744.26975276,  9077288.0718879 ,
       22027380.80914128, 25367813.46780761, 26680768.48122   ,
       11134814.24346348, 14146528.55140237, 24203694.20463137,
       24688845.45340973, 21399278.28688689, 11959754.22613116,
       30684612.17267164, 30182944.67918231, 25231915.01339238,
       13490771.31595298, 15718631.59788994, 32410667.55110447,
       21560546.91470824, 18445983.53907214, 24964014.98844416,
       18146423.03535841, 13181275.96108512, 12391413.88231917,
       32394909.63064802, 30155866.95217928, 30645235.70337273,
       18730169.60170858, 31016051.89860116, 50777411.46824403,
       11789206.32239138, 23340847.79186148, 23734273.45554712,
       -7439407.19727558, 14041200.19127468, 20396554.33949322,
       27070109.566206  , 29984205.02375375, 23481083.63598   ,
       15244958.89140695, 15342289.40299702, 35128442.64101245,
       22110324.64979894, 26017027.43252352, 29130166.51947513,
        9706732.09947054, 25131656.06499986, 15071670.20067028,
       30022821.88935761, 20114793.21895668, 29296847.1565485 ,
       27313528.28993057, 25296392.02581391, 25117572.31213946,
       35436880.77011787, 13197030.588843  , 22585577.89173201,
       22511056.25988407, 29946759.13312212, 21820940.24923997,
       24487800.94381427, 10922519.98270497, 27749410.50515851,
       15743830.27958622, 19961653.98953929, 19069387.96563208,
       21423783.57969006, 24773048.57461939, 25056810.37360479,
       24802123.07751611, 22844616.81986665, 17808374.45878969,
       20857255.73434927, 29851373.01368945, 28510029.71506768,
       23756391.08591071, 15598203.02587642, 24148774.65548956,
       24298652.52019055, 22721554.18905714, 28531595.52607445,
       26303086.48272359, 27420696.20276134, 17355473.72759698,
       18205932.04367785, 25001161.96938033, 16768044.72612024,
       29484354.01194733, 22786101.37147517,  8952486.75773467,
       25718425.72935863, 18985004.2325669 , -9688694.54783654,
       35491820.2869452 , 17561512.31892487, 36904695.98662128,
       25072032.69956429, 13049416.88771049,  9344006.35566911,
       11519427.91704567, -9175665.55315413, 22898624.45984613,
       25093949.48811541, 28356086.67170497, 46574367.15461383,
       19964090.56446696, 12714443.66329379, 13706374.29139366,
       18126216.43988837, 28888913.83399419, 24079519.77243917,
       29149120.03350285, 28794747.62421001, 24557667.79202994,
       22150754.43783458, 19704010.97552663, 17290092.48614963,
       34108483.50840185, 20151909.02895519, 16048249.25341428,
       -9688694.54783654, 14701225.17066301, 23869915.38023565,
       23923018.70229904, 20808719.20432965, 22951310.75664802,
       26285329.05346942, 25385375.10523309, 19704098.46698625,
       13559381.52207509, 17116767.30445204, 34051547.38130666,
       42494084.36679934, 13880510.39991917, 20003061.24652391,
       28264054.64629632, 14041768.80497683, 13671026.4760044 ,
       37432256.85216226, 26256394.95726359, 30306433.65358736,
       20652812.44029315, 17656184.43401482, 22790878.51854806,
       19538588.95261054, 34037953.45832908, 29865088.4761988 ,
       30937623.83654452, 25037134.1049928 , 13453597.30552753,
       16388279.2364391 , 33569077.57465984, 16019578.9832509 ,
       34305025.32916145, 24665317.10702296, 22976278.45342117,
       19272564.02127109,  1240758.17576978, 23664425.44588609,
       33877580.03939286, 23198122.95832005, 17581918.12993088,
       23858499.04613951, 16688463.81119141, 23049097.23430749,
       11820798.99435484, 19952125.31940105, 31936921.14713804,
       21955493.52648735, 13423276.85007979, 46196470.82244196,
       27720118.94834533, 27443394.55214038, 49852865.22728571,
       11316909.65188447, 21580782.45718113, 18526351.34248533,
       21836692.0050044 , 14221138.02023412, 20939831.37049777,
       20640808.9521893 , 20974793.77455048, 32541272.08639082,
       17503053.10688965, 34343463.54157034, 24396169.87932086,
       18316278.51580831, 18000939.98822062, 16738877.4133055 ,
       23013393.43873166, 32353773.24463416, 33860845.25436638,
       11396445.19900071, 24026466.11964709, 10731693.5809022 ,
       14339163.9485574 , 15875992.50868002, 12025159.19331983,
       40699666.34665837, 24636773.26437566, 10394821.50180589,
       15800069.81580201, 23743942.14763325, 13186437.21629809,
       22248267.50637828, 17491216.37242083, 21632787.45582926])

In [371]:
y_test_pred

array([27034750.10044698, 31616310.65387674, 32406043.00974778,
       20995202.04180315, 12030269.37130465, 18605945.08895626,
       25001827.77062526, 21736975.6761807 , 18414466.19839097,
        8432565.49971511, 27935033.96196166, 25004563.00334299,
       24479525.66211905, -3206171.17326452, 24366184.16148451,
       13014726.72462025, 20074220.19198441, 15445602.59185658,
       37357361.21710008, 13470695.50878974, 32611142.56400779,
       17757836.58413982, 19076458.42479165, 22430807.06040362,
       34117289.25873765, 30596416.05462197, 31276062.00255176,
       17205800.74349105, 15392894.44150473, 22062890.76462722,
       22544035.0695678 , 35697156.03124162, 30052348.40560469,
       17366375.13056697, 14764594.20882684, 37984683.6586273 ,
       13158815.71328903, 20947349.92447929, 20586220.02158738,
       26351858.22079458,  4583876.35078205, 24947527.3827695 ,
       24691987.51526166, 20576586.25277167, 23827897.0792077 ,
       19236985.67262372, 29950110.2363757 , 18831237.47089823,
       16681815.9964423 , 25541489.4248939 , 25665536.3670796 ,
       21348702.67860115, 16138921.27356671, 22360404.33252657,
       25014132.41137661, 15368079.84992877, 24895876.93702647,
       26099896.4094182 , 25476005.55897714, 11271441.14880781,
       31770482.36257136, 34420893.60101958, 16253388.47864427,
       19530299.67688296, 20649393.34356575, 27071854.63810123,
       37257123.89893271, 12696873.69941721, 29660408.85235314,
       25846788.68537029, 36097383.62594315, 15540223.54830309,
       28045479.68591109, 20251153.56449747, 24762056.79902327,
       31426043.83125066, 22492872.82430802, 28843182.25885632,
       31673055.63859957, 35706418.24681078, 16530199.78683223,
       29856350.88530353, 35842032.87938418, 16068500.23647492,
       17252928.82005683, 23136941.98197938, 41093116.28047119,
       34455795.22608412, 36466559.66466833, 24848439.1480232 ,
       26366097.5684866 , 21039076.88399094, 11379045.2565067 ,
       26520282.65021278, 21717979.1087548 , 36938236.27517071,
       16098453.38959837, 16650103.12479915, 14774210.66969588,
       28801404.71013739, 33732983.38736266, 35141500.33756595,
       30101367.99743394, 23707476.30638353, 16859010.86618676,
       29857740.96891421, 19345852.93720511, 24871490.99425827,
       25299298.67421072,  9602806.33838248, 13933421.18036553,
       23525951.85970818, 22909479.01263187, 21585832.79098905,
       23183699.59669481, 16224404.46778091, 28413363.23416004,
       21353942.39114697, 14327218.6786987 , 17195056.05251554,
       18427376.19184333, 28459978.22064069, 30146366.88179819,
       22931541.9302819 , 18521150.3826567 , 28087602.62859096,
       20524611.33545091, 35821822.18921108, 26106789.17804895,
       28324965.22639935, 20988257.75891009, 18265415.27783542,
       24661601.03197563, 15170669.63521564, 21927007.97826399,
       20746343.62106341, 22351814.21638795, 17067883.72539238,
       18860364.99709828, 31786063.89686013, 24571151.66356117,
       40170301.07931481, 24156185.26114578, 15055094.49295738,
       11392004.228451  , 35071062.51585992, 21842511.29080731,
       27406255.82140465, 23888844.97188984, 25562569.60225704,
       19007692.77725738, 24956878.86813229, 16510125.4982696 ,
       11077146.9025743 , 28530900.84505014, 13590817.69973553,
       27335613.71095922, 17720846.88200235, 62351200.5104969 ,
       27789513.30480132, 22982892.22180915, 36465207.61965039,
       30918945.88390919, 18113368.76062396, 20838196.9238555 ,
       27600273.99611238, 20396443.72455576, 18660288.06703202,
       27677944.07390526, 17369497.75206614, 29556135.18208186,
       20129345.45907154, 11738471.03979923, 21732208.91558763,
       24442711.82102734, 22411489.29556602, 17861992.30436698,
       22058023.16641657, 14457566.08715372, 36045329.53227268,
       17116589.63218269, 21738493.55762289, 19486197.63982254,
       19327028.13321147, 25437255.07835509, 18024597.06680515,
       -9688694.54783654, 21028246.01461637, 14106147.59454585,
       21303670.59868011, 22492713.78770317, 23770513.22344977,
       24479268.79990981, 22046173.71916982, 22967703.54348957,
       35259736.27837078, 19502278.34403017, 30510327.95340021,
       11675968.24418529, 28780266.83162433, 17141771.00478704,
       22338125.15524303, 22581293.14462804, 22990120.301023  ,
       21107214.85282612, 19058112.56956583, 26303372.36749525,
       42761535.77011005, 19150037.25239048, 37389847.18693002,
       22182504.8006593 , 12599711.89663301, 23287699.36781299,
       21316956.88499892, 22938854.82844834, 23343783.99863646,
        8185786.27865377, 28255966.20046494, 28981701.90705899,
       16522048.83793768, 19268820.77271523, 27709541.98588752,
       28951822.67897329, 18352854.42755424, 15014564.76422502,
       24120000.2115401 , 28060483.27894863, 26347589.78426349,
       19922248.2514683 , 31057298.23800196,  9067581.70614615,
       11153505.63991693, 18030061.47267586, 29728454.6346274 ,
       25722632.93458354, 30974628.88566436, 27920864.29076897,
       18138457.20155418, 32715734.1110458 , 23080084.80954828,
       21392790.9959516 , 45517747.70090066, 22359911.53646905,
       24870437.50236245, 15488865.39271766, 33610263.89779696,
       27498350.00946902, 21567711.30256105, 29844246.62399284,
       19978206.20462641, 20785327.58989798, 26031709.16704925,
       21158185.41377567, 24207285.65459222, 22414196.39265596,
       16769458.02668952, -9688694.54783654, 32536060.73483343,
       24296211.9277724 , 47129717.57092672, 21100160.62761369,
       20576402.71685806, 30759470.5648662 , 16782477.41482635,
       30240387.84456336, 21386875.4085764 , 27543784.69691375,
       22770495.19734266, 32704701.97277101, 21884429.43661753,
       32266742.2626492 , 19460975.61295445, 29241976.28324827,
       28911078.7790361 , 23365360.03629931, 27921651.51339883,
       20335351.0849863 , 18360738.52014338, 38493592.08815531,
       19426725.57596069,  3409721.934957  , 18528484.10156216,
       14484118.7611734 , 16195662.48408986, 24474089.08850317,
       30635146.58359045, 25727654.94025249, 22364979.84431435,
       15429243.82514889, 31191411.13534764, 17476879.98188429,
       25137488.34848997,  9805810.75870569, 15266103.28355823,
       22457005.40461342, 29644376.97190443, 17577484.4489613 ,
       26000506.06363475, 22413175.739448  ])

## Error Metrics Functions

In [372]:
import pandas as pd

def create_dataframe_errors(y_true, y_pred):
    """"
    This function inputs the arrays, ensures that y_true and y_pred have the same length, Calculates the error, Creates a dictionary, and Creates a pandas DataFrame from the dictionary.
    """
    # Ensure that y_true and y_pred have the same length
    assert len(y_true) == len(y_pred), "Length of y_true and y_pred must be the same"

    # Calculate the error
    error = [abs(true - pred) for true, pred in zip(y_true, y_pred)]

    # Create a dictionary
    data = {
        "Real Values": y_true,
        "Predicted Values": y_pred,
        "Error": error
    }

    # Create a pandas DataFrame from the dictionary
    df = pd.DataFrame(data)

    return df

In [373]:
create_dataframe_errors(y_train, y_train_pred)

     Real Values  Predicted Values         Error
463     18400000      2.622492e+07  7.824924e+06
900     13000000      1.465804e+07  1.658041e+06
722     14700000      2.712570e+07  1.242570e+07
869     13300000      2.278253e+07  9.482527e+06
211     26400000      3.579118e+07  9.391176e+06
..           ...               ...           ...
685     15000000      2.374394e+07  8.743942e+06
782     14100000      1.318644e+07  9.135628e+05
376     20400000      2.224827e+07  1.848268e+06
718     14700000      1.749122e+07  2.791216e+06
925     12800000      2.163279e+07  8.832787e+06

[696 rows x 3 columns]

In [374]:
create_dataframe_errors(y_test, y_test_pred)

     Real Values  Predicted Values         Error
476     18100000      2.703475e+07  8.934750e+06
798     14000000      3.161631e+07  1.761631e+07
275     23700000      3.240604e+07  8.706043e+06
509     17600000      2.099520e+07  3.395202e+06
664     15100000      1.203027e+07  3.069731e+06
..           ...               ...           ...
961     12500000      2.245701e+07  9.957005e+06
712     14800000      2.964438e+07  1.484438e+07
584     16200000      1.757748e+07  1.377484e+06
382     20300000      2.600051e+07  5.700506e+06
273     23700000      2.241318e+07  1.286824e+06

[299 rows x 3 columns]

In [377]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np
import pandas as pd

def calculate_error_metrics(y_real_train, y_real_test, y_pred_train, y_pred_test)-> pd.DataFrame:
    """
    This function inputs the arrays: y_real_train, y_real_test, y_pred_train, y_pred_test and then calculates the error metrics mae, mse, rmse, r2 for the train and test set and returns a data frame.

    """
    mae_train = mean_absolute_error(y_real_train, y_pred_train)
    mse_train = mean_squared_error(y_real_train, y_pred_train)
    rmse_train = np.sqrt(mse_train)
    r2_train = r2_score(y_real_train, y_pred_train)

    mae_test = mean_absolute_error(y_real_test, y_pred_test)
    mse_test = mean_squared_error(y_real_test, y_pred_test)
    rmse_test = np.sqrt(mse_test)
    r2_test = r2_score(y_real_test, y_pred_test)

    error_metrics_df = pd.DataFrame({
        'Metric': ['MAE', 'MSE', 'RMSE', 'R2'],
        'Train': [mae_train, mse_train, rmse_train, r2_train],
        'Test': [mae_test, mse_test, rmse_test, r2_test]
    })

    return error_metrics_df

In [378]:
calculate_error_metrics(y_train, y_test, y_train_pred, y_test_pred)

  Metric         Train          Test
0    MAE  8.112169e+06  7.830551e+06
1    MSE  2.562195e+14  1.870171e+14
2   RMSE  1.600686e+07  1.367542e+07
3     R2  2.398189e-01  2.094594e-01

The performance of this model is not good at all. I have to keep exploring different options.

In [379]:
def train_models(models: list, X_train, y_train)-> list:
    trained_models = []
    for model in models:
        model.fit(X_train, y_train)
        trained_models.append(model)
    return trained_models

In [380]:
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor

models = [LinearRegression(), KNeighborsRegressor(), MLPRegressor(max_iter=500, tol=0.0001)]

In [381]:
trained_models = train_models(models, X_train_scaled2, y_train)
for model in trained_models:
    y_train_pred = model.predict(X_train_scaled2)
    y_test_pred = model.predict(X_test_new_scaled2_df2)

    error_metrics = calculate_error_metrics(y_train, y_test, y_train_pred, y_test_pred)

    # train_error_metrics = calculate_error_metrics(y_train, y_train_pred)
    # test_error_metrics = calculate_error_metrics(y_test, y_test_pred)

    display(error_metrics)

c:\Users\chech\IHLABS\Week_9\Final_project\finalproject\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
c:\Users\chech\IHLABS\Week_9\Final_project\finalproject\lib\site-packages\sklearn\base.py:458: UserWarning: X has feature names, but LinearRegression was fitted without feature names

  Metric         Train          Test
0    MAE  8.112169e+06  7.830551e+06
1    MSE  2.562195e+14  1.870171e+14
2   RMSE  1.600686e+07  1.367542e+07
3     R2  2.398189e-01  2.094594e-01

c:\Users\chech\IHLABS\Week_9\Final_project\finalproject\lib\site-packages\sklearn\base.py:458: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names

  Metric         Train          Test
0    MAE  5.292931e+06  6.645418e+06
1    MSE  1.043776e+14  1.321154e+14
2   RMSE  1.021654e+07  1.149415e+07
3     R2  6.903207e-01  4.415345e-01

c:\Users\chech\IHLABS\Week_9\Final_project\finalproject\lib\site-packages\sklearn\base.py:458: UserWarning: X has feature names, but MLPRegressor was fitted without feature names

  Metric         Train          Test
0    MAE  2.297516e+07  2.299744e+07
1    MSE  8.649079e+14  7.654502e+14
2   RMSE  2.940932e+07  2.766677e+07
3     R2 -1.566107e+00 -2.235636e+00

# Decision Trees

In [382]:
from sklearn.tree import DecisionTreeRegressor
import matplotlib.pyplot as plt
import dtreeviz
import graphviz
import graphviz.backend as be
from IPython.display import Image, display_svg, SVG
import warnings
warnings.filterwarnings( "ignore", module = "matplotlib\..*" )

This is just a decision tree taking into account the previous x/y split. On the next book I go deeper into decision tree model.

In [383]:
regr = DecisionTreeRegressor(max_depth=5,
                             criterion = 'squared_error',
                             min_samples_split=2,
                             min_samples_leaf = 1,
                             max_features = 6)
regr.fit(X_train, y_train)
print("Train data R2 was: {:.2f}".format(regr.score(X_train, y_train)))
print("Test data R2 was: {:.2f}".format(regr.score(X_test, y_test)))

Train data R2 was: 0.78
Test data R2 was: 0.57

## Saving the functions

In [388]:
%%writefile functions.py

import pandas as pd
import numpy as np

def create_dataframe_errors(y_true, y_pred):
    """"
    This function inputs the arrays, ensures that y_true and y_pred have the same length, Calculates the error, Creates a dictionary, and Creates a pandas DataFrame from the dictionary.
    """
    # Ensure that y_true and y_pred have the same length
    assert len(y_true) == len(y_pred), "Length of y_true and y_pred must be the same"

    # Calculate the error
    error = [abs(true - pred) for true, pred in zip(y_true, y_pred)]

    # Create a dictionary
    data = {
        "Real Values": y_true,
        "Predicted Values": y_pred,
        "Error": error
    }

    # Create a pandas DataFrame from the dictionary
    df = pd.DataFrame(data)

    return df

from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np
import pandas as pd

def calculate_error_metrics(y_real_train, y_real_test, y_pred_train, y_pred_test)-> pd.DataFrame:
    """
    This function inputs the arrays: y_real_train, y_real_test, y_pred_train, y_pred_test and then calculates the error metrics mae, mse, rmse, r2 for the train and test set and returns a data frame.

    """
    mae_train = mean_absolute_error(y_real_train, y_pred_train)
    mse_train = mean_squared_error(y_real_train, y_pred_train)
    rmse_train = np.sqrt(mse_train)
    r2_train = r2_score(y_real_train, y_pred_train)

    mae_test = mean_absolute_error(y_real_test, y_pred_test)
    mse_test = mean_squared_error(y_real_test, y_pred_test)
    rmse_test = np.sqrt(mse_test)
    r2_test = r2_score(y_real_test, y_pred_test)

    error_metrics_df = pd.DataFrame({
        'Metric': ['MAE', 'MSE', 'RMSE', 'R2'],
        'Train': [mae_train, mse_train, rmse_train, r2_train],
        'Test': [mae_test, mse_test, rmse_test, r2_test]
    })

    return error_metrics_df


def train_models(models: list, X_train, y_train)-> list:
    trained_models = []
    for model in models:
        model.fit(X_train, y_train)
        trained_models.append(model)
    return trained_models

Writing functions.py